/* app.component.css */
.app-shell {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-body {
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
}

.app-content {
  flex: 1 1 auto;
  overflow-y: auto;
  background: #121218;
  color: #e4e4e7;
  padding: 20px;
}